.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: rgb(7, 30, 7);
  font-size: 28px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(212, 242, 166);
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: rgb(55, 105, 55);
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: rgb(7, 30, 7);
    font-size: 20px;
  }
  & button:hover {
    opacity: 0.8;

  }
  & input {
     border: 1px solid rgb(7, 30, 7);
     border-radius: 30px;
     height: 40px;
     background-color: rgb(91, 175, 91, 0.5);
     color: rgb(7, 30, 7);
     font-size: 16px;
     padding-left: 10px;
     outline: none;

  }

}

.card {
   display: flex;
   justify-content: space-between;
   background:rgb(55, 105, 55);
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
   width: 400px;


   & p {
    color: rgb(169, 224, 169);
    font-weight: bold;

    & span {
      font-weight: normal;
    }
   }
  & button {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;

} & button img {
  width: 30px;
  height: 30px;
}
& button:hover {
  opacity: 0.8;
}

}


